
**SQLITE PRACTICE 1**

steps performed:
1. Created a table in My_data base.
2. Drop already existing table with same name 
3. Fill values in table 
4. import table as a dataframe using pandas
5. close connections

In [3]:
import sqlite3 as db 
import pandas as pd

In [37]:
con= db.connect("MY_DATABASE")
cur=con.cursor()

In [7]:
cur.execute("CREATE TABLE Snakes (ID INTIGER PRIMARY KEY, Species VARCHAR(20), Venomous BIT)")
con.commit()

OperationalError: table Snakes already exists

In [8]:
cur.execute("drop table if exists Snakes")

In [9]:
con.commit()

In [12]:
cur.execute("CREATE TABLE Snakes (ID INTIGER PRIMARY KEY, Species VARCHAR(20), Venomous BIT)")
con.commit()

In [17]:
cur.execute('SELECT name from sqlite_master where type= "table"' )
print(cur.fetchall())

[('Snakes',)]

In [18]:
new_snakes= [(1, "Spectacled Cobra", 1), (2, "Rat Snake", 0), (3 , "Indian Rock Python", 0), (4, "Saw Scaled Viper", 1), (5, "Russele's Viper", 1), (6, "Chequred Keelback", 0)]

In [19]:
con.executemany("INSERT into Snakes VALUES (?,?,?)", new_snakes)

In [20]:
con.commit()

In [27]:
cur.execute("SELECT * from Snakes; ")
print (cur.fetchall())

[(1, 'Spectacled Cobra', 1), (2, 'Rat Snake', 0), (3, 'Indian Rock Python', 0), (4, 'Saw Scaled Viper', 1), (5, "Russele's Viper", 1), (6, 'Chequred Keelback', 0)]

In [31]:
cur.execute("SELECT * from Snakes;")
snakes_info= (cur.fetchall())

In [32]:
snakes_info

[(1, 'Spectacled Cobra', 1),
 (2, 'Rat Snake', 0),
 (3, 'Indian Rock Python', 0),
 (4, 'Saw Scaled Viper', 1),
 (5, "Russele's Viper", 1),
 (6, 'Chequred Keelback', 0)]

In [35]:
pd.read_sql_query("select * from Snakes", con)

   ID             Species  Venomous
0   1    Spectacled Cobra         1
1   2           Rat Snake         0
2   3  Indian Rock Python         0
3   4    Saw Scaled Viper         1
4   5     Russele's Viper         1
5   6   Chequred Keelback         0

In [38]:
cur.close()
con.close()